@import '~bootstrap/scss/bootstrap';
@import 'variables';

html {
  justify-content: center;
  margin: 50px;
}

body {
  align-items: center;
  text-align: center;
  margin: auto;
}

.credentials {
  text-align: center;
}

#board-spaces {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
}

.space {
  width: 100px;
  height: 100px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.border-a {
  border-color: black;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
}

.border-t-b {
  border-color: black;
  border-style: solid;
  border-width: 3px 0 3px 0;
}

.border-l-r {
  border-color: black;
  border-style: solid;
  border-width: 0 3px 0 3px;
}

#title {
  text-align: center;
  color: $blue-primary-color;
  margin: 20px;
  font-size: 75px;
}

#user-forms {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

#game-alert, #player-move, #all-games {
  margin: 30px;
  font-size: 20px;
  color: grey;
}

#game-over {
  margin: 30px;
  font-size: 30px;
  color: $blue-primary-color;
}

h3, h5 {
  color: grey;
  margin-bottom: 20px;
}

.X {
  color: $blue-primary-color;
}

.O {
  color: grey;
}
